aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiolimiter==1.2.1
aiosignal==1.3.2
anyio==4.9.0
APScheduler==3.11.0
async-timeout==5.0.1
attrs==25.3.0
cachetools==5.5.2
certifi==2025.1.31
decorator==5.2.1
exceptiongroup==1.2.2
ffmpeg-python==0.2.0
frozenlist==1.5.0
future==1.0.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
moviepy==2.1.2
multidict==6.4.3
numpy==2.0.2
pillow==10.4.0
proglog==0.1.11
propcache==0.3.1
python-dotenv==1.1.0
python-telegram-bot==22.0
sniffio==1.3.1
tornado==6.4.2
tqdm==4.67.1
typing_extensions==4.13.1
tzlocal==5.3.1
yarl==1.19.0
yt-dlp==2025.3.31
